:root {
    --primary-color: #0b3544;
    --secondary-color: #c0d6df;
    --tertiary-color: #eaeaea;
}


/* body style start*/

body {
    background-color: var(--tertiary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.content {
    border-left: 5px solid var(--primary-color);
}

h2 {
    color: var(--primary-color);
}

h2:hover {
    color: var(--tertiary-color);
}

.card {
    border: 5px solid var(--primary-color);
}

.card-body {
    background-color: var(--tertiary-color);
}


/* body style end*/


/* header / navigation style start*/

header {
    background-color: var(--primary-color);
}

header h1 {
    color: var(--secondary-color);
}

header a {
    color: var(--tertiary-color);
}

header nav ul li a {
    text-shadow: 0 0 5px rgba(79, 109, 122, 0.75);
}

header li {
    border-bottom: 5px solid var(--secondary-color);
}

header li a:hover {
    color: var(--secondary-color);
}


/* header / navigation style end*/


/* hero style start */

#hero {
    background-image: url("https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    border-bottom: 5px solid var(--secondary-color);
}

#hero h2 {
    color: var(--secondary-color);
}


/* hero styles end */


/* "about me" section styles start */

#about-me {
    background-color: var(--secondary-color);
}


/* "about me" section styles end */


/* "my projects" section styles start */

#my-projects {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.project img {
    border: 5px solid var(--secondary-color);
}

.project-title {
    color: var(--primary-color);
}

.project:hover {
    opacity: 0.5;
}


/* "my projects" section styles end */


/* "contact-me" section styles start */

#contact-me {
    background-color: var(--secondary-color);
}

#contact-me a {
    color: var(--primary-color);
}

#contact-me li {
    border-bottom: 5px solid var(--primary-color);
}

#contact-me a:hover {
    color: var(--tertiary-color);
}